# Terraform local working files
terraform/.terraform/
terraform/backend.hcl
*.tfplan
*.tfplan.json
crash.log
crash.*.log

# Backstage
backstage/node_modules/
backstage/**/dist/
backstage/**/dist-types/
backstage/.env
